/checkpoints/*
/*.zip
*.zip
/README_Ref.md
*Full.ipynb
/data/*/*.pkl
brief_hospital_course_generation.py
discharge_instructions_generation.py

__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
